@import url("bootstrap.css");


body
{
    width: 568px; height: 320px;
    position:relative;
}

.app
{


}

.nextPageNavigation {
    position:absolute;
    bottom:0px;
    right: 0px;
}

.takePictureRegion {
    height: 180px;
    left: 140px;
    position: absolute;
    top: 100px;
    width: 130px;
}

.secretHomeButton { position:absolute; width: 100px; height:100px; left: 0; bottom: 0; }