@import url("bootstrap.css");


body
{
    width: 568px; height: 320px;
    position:relative;
}

.app
{


}

.nextPageNavigation {
    position:absolute;
    bottom:0px;
    right: 0px;
}

.takePictureRegion {

    height: 120px;
    left: 60px;
    position: absolute;
    top: 145px;
    width: 175px;
}

.secretHomeButton { position:absolute; width: 100px; height:100px; left: 0; bottom: 0; }