@import url("bootstrap.css");
@import url("tileboard.css");  /* inherit all the pinteresty styles... */

.pin img 
{
  width: auto;  /* use the actual size of the image, not the scaled down version... */
	border-bottom: none;
	padding-bottom: 0;
  margin-bottom: 0;
}

.app {
    margin-top:20px;
}