@import url("bootstrap.css");

.app
{


}

.locationName
{
    /*
    float: left;
    width: 400px;
        */
}
/*

.photosRegion
{
    
    float: left;
    width: 400px;
}

.addPhotoRegion
{
    float:right;
    width: 40%;
    border: 3px solid green;

}
*/

.photo
{
        border: 3px solid black;
}

.nextPageNavigation {
    position:absolute;
    bottom:0px;
    right: 0px;
}

.takePictureRegion {
    position: absolute;
    left: 350px;
    top:5px;
    width: 190px;
    height: 150px;
    
}

.secretHomeButton { position:absolute; width: 200px; height:200px; left: 0; bottom: 0; border: 1px dashed red;}