@import url("bootstrap.css");

.app
{


}

.locationName
{
    /*
    float: left;
    width: 400px;
        */
}
/*

.photosRegion
{
    
    float: left;
    width: 400px;
}

.addPhotoRegion
{
    float:right;
    width: 40%;
    border: 3px solid green;

}
*/

.photo
{
        border: 3px solid black;
}

.nextPageNavigation {
    position:absolute;
    bottom:0px;
    right: 0px;
}