@import url("bootstrap.css");

.app
{
    border: 5px solid red;

}

.locationName
{
    /*
    float: left;
    width: 400px;
        */
}
/*

.photosRegion
{
    
    float: left;
    width: 400px;
}

.addPhotoRegion
{
    float:right;
    width: 40%;
    border: 3px solid green;

}
*/

.photo
{
        border: 3px solid black;
}